* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all $effect-duration linear;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px $dark-grey inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  background: $c-gray;
  width: 10px;
  border-radius: 10px;
}

/* Track */
input::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: $c-gray;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb,
input::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
input::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
